{% import "Layout/Common/Form.twig" as forms %}
{% extends "Layout/Main.twig" %}
{% block css %}
    <style>
        .custom-file-input:lang(en) ~ .custom-file-label::after {
            content: '{{ "Browse" | i18n }}';
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">{{ "Add Role" | i18n }}</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ basePath }}/"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page"><a
                                        href="{{ basePath }}/Admin/Roles/">{{ "Role List" | i18n }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ "Add Role" | i18n }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="action" value="submit"/>
                            {{ forms.hidden('action', 'submit') }}
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            {{ forms.text("Role Name"|i18n, 'name', name, "Role Name"|i18n, null, null, false, true, 1, 20) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            {{ forms.text("Role Description"|i18n, 'description', description, "Role Description"|i18n, null, null, false, true, 1, 100) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            {{ forms.checkbox("Role Menu"|i18n, 'menus', menuList, menus) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            {{ forms.checkbox("Role Action"|i18n, 'actions', actionList, actions) }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions mt-4">
                                {{ forms.submit("Submit"|i18n) }}
                                {{ forms.btnLink("Cancel"|i18n, basePath ~ "/Admin/Roles/", "btn-danger") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block script %}
{% endblock %}
